@import url('https://fonts.googleapis.com/css2?family=Averia+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre&family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  color: #444;
  font-family: "Gentium Book Plus", serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  color: #FF6000;
  font-family: "Averia Libre", system-ui;
  font-weight: 400;
  font-style: normal;
}

a:link {
  color: #444;
  text-decoration-line: underline #FF6000;
}

a:visited {
  color: #444;
  text-decoration: underline #FF6000;
}

a:hover {
  color: #FF6000;
  text-decoration: underline #FF6000;
}

a:active {
  color: #444;
  text-decoration: underline #FF6000;
}

header {
  max-width: 40em;
  margin: 0 auto;
}

main {
  position: relative;
}

nav {
  font-size: 1.2em;
  position: absolute;
}

nav ul li {
  list-style: none;
  margin: 0.5em 0;
}

nav ul li.current {
  color: #FF6000;
}

nav ul li a:hover::before {
  content: "➺";
}

article {
  max-width: 40em;
  margin: 0 auto;
}


